{% load static %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="{% static 'css/basic.css' %}">
<div style="margin: 0 0 100 0;">
    <h1><a href="/ChainLicense">Chain License Lists</a></h1>
</div>
<ul>
{% for data in datas %}
    <div>
        <h1><a href="{% url 'post_detail' seq=data.index%}">{{ data.index }}</a></h1>
        <b><p>{{ data.data|linebreaksbr }}</p></b>
        <p>previousHash: {{ data.previousHash }}</p>
        <p>hash: {{ data.hash }}</p>
        <p>timestamp: {{ data.timestamp }}</p>
    </div>
{% endfor %}
</ul>
